*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Taviraj', serif;
}

body{
    background-image: url(../css/img/evento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.riquadro{
    width: 600px;
    height: 400px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 150px;
    right: 470px;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}